<div class="modal-header bg-success">
    <h4 class="text-white">Inscripcion - {{texto}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="px-3 pt-3">

    <ul class="nav nav-tabs">

        <li class="nav-item" *ngFor="let tab of tabs">

            <a href="javascript:void(0)" class="nav-link" [class.active]="paso === tab.id" [class.disabled]="tab.id > ultimoPasoDisponible" (click)="cambiarPaso(tab.id)">

                <span *ngIf="tab.id < ultimoPasoDisponible">
                    ✔
                </span> {{ tab.texto }}

            </a>

        </li>

    </ul>

</div>
<div class="modal-body">
    <app-alumno-datos [codigos]="codigos" [listas]="listas.alumnos" [datos]="ficha.alumno" (emitidor)="asignarAlumno($event);" *ngIf="paso === 1"></app-alumno-datos>
    <app-inscripcion-datos [ventas]="ventas" [listas]="listas.inscripcion" [datos]="ficha.inscripcion" [grupos]="grupos" [cupos]="cupos" (anterior)="paso = 1; asignarTexto();" (siguiente)="asignarInscripcion($event)" *ngIf="paso === 2"></app-inscripcion-datos>
    <app-domicilio-datos [listas]="listas.domicilio" [datos]="ficha.domicilio" (anterior)="paso = 2; asignarTexto();" (siguiente)="asignarDomicilio($event)" *ngIf="paso === 3"></app-domicilio-datos>
    <app-tutor-datos [datos]="ficha.tutor" (anterior)="paso = 3; asignarTexto();" (siguiente)="asignarTutor($event);" *ngIf="paso === 4"></app-tutor-datos>
    <app-escolares-datos [idCalendario]="ficha.inscripcion.idCalendario" [nivel]="ficha.inscripcion.idSubnivel" [datos]="ficha.escolares" [listas]="listas.escolares" (anterior)="paso = 4; asignarTexto();" (siguiente)="asignarEscolares($event);" *ngIf="paso === 5"></app-escolares-datos>
    <app-publicitarios-datos [datos]="ficha.publicitarios" [listas]="listas.publicitarios" [idNivel]="ficha.inscripcion.idNivel" (anterior)="paso = 5; asignarTexto();" (siguiente)="asignarPublicitarios($event);" *ngIf="paso === 6"></app-publicitarios-datos>
    <app-cuenta-datos [listas]="listas.cuenta" [costoCurso]="ficha.inscripcion.precio" [idCurso]="ficha.inscripcion.idCurso" (anterior)="paso = 6; asignarCuenta($event, true); asignarTexto();" (siguiente)="asignarCuenta($event, false);" *ngIf="paso === 7"></app-cuenta-datos>
</div>