<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Inscripciones</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row" *ngIf="seleccion === undefined">
                <div class="col-sm-12">
                    <button class="btn btn-success" (click)="modal('nuevo')">Agregar Inscripcione</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event; verFicha();"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cargando *ngIf="cargando"></app-cargando>
<app-modal [ngSwitch]="vista">
    <app-modal-inscripcion *ngSwitchCase="'nuevo'" [codigos]="codigos" [listas]="listas" [grupos]="grupos" [cupos]="cupos" (emitidor)="nuevo($event);"></app-modal-inscripcion>
</app-modal>