<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                <img src="{{curso.icono}}" alt="icono" style="width: 150%; height: 150%;">
            </div>
        </div>
        <div class="col-sm-4">
            <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{curso.curso}}</h5>
            <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{curso.categoria}}</h5>
            <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{curso.modalidad}}</h5>
        </div>
    </div>
</div>