<div class="card card-stats amo" (click)="emitir()">
    <!-- Card body -->
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <img src="{{ficha.icono}}" alt="icono" style="width: 200%; height: 200%;">
                </div>
            </div>
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">{{ficha.alumno}}</h5>
                <h5 class="card-title text-uppercase text-muted mb-0">{{ficha.curso}}</h5>
            </div>
        </div>
    </div>
</div>