<div class="row">
    <div class="col-sm-12">
        <app-checktimes [activo]="datos.modificar" (emitidor)="datos.modificar= $event;" [texto]="'Datos Generales'"></app-checktimes>
    </div>
    <div class="col-sm-3">
        <app-input [etiqueta]="'Telefono'" [validacion]="'numero'" [cantidad]="10" [valor]="datos.telefono" [activo]="!datos.modificar" (emitidor)="datos.telefono = $event;"></app-input>
    </div>
    <div class="col-sm-3">
        <app-input [etiqueta]="'Celular'" [validacion]="'numero'" [cantidad]="10" [valor]="datos.celular" [activo]="!datos.modificar" (emitidor)="datos.celular = $event;"></app-input>
    </div>
    <div class="col-sm-3">
        <app-input [etiqueta]="'Correo'" [valor]="datos.correo" [activo]="!datos.modificar" [valor]="datos.correo" (emitidor)="datos.correo = $event;"></app-input>
    </div>
    <div class="col-sm-3">
        <app-input [activo]="true" [etiqueta]="'Fecha de nacimiento'" [tipo]="'date'" [valor]="datos.fechaNacimiento" (emitidor)="datos.fechaNacimiento = $event;"></app-input>
    </div>
    <div class="col-sm-12 text-end" *ngIf="datos.modificar">
        <button class="btn btn-success" (click)="emitir();">Guardar</button>
    </div>
</div>