<div class="modal-header bg-{{(modificar) ? 'yellow' : 'success'}}">
    <h4 class="text-white">{{(modificar) ? 'Modificar' : 'Agregar'}} Préstamo</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <app-select [datos]="listas.formaspagos" [etiqueta]="'Forma de Pago'" [dato]="dato.idFormaPago" (emitidor)="dato.idFormaPago = $event;"></app-select>
            </div>
            <div class="col-sm-3" *ngIf="dato.idFormaPago > 1">
                <app-select [datos]="listas.cuentas" [etiqueta]="'Cuenta'" [dato]="dato.idCuenta" (emitidor)="dato.idCuenta = $event;"></app-select>
            </div>
            <div class="col-sm-3">
                <app-select [etiqueta]="'Empleados'" [datos]="empleados" [dato]="dato.idEmpleado" (emitidor)="dato.idEmpleado = $event;"></app-select>
            </div>
            <div class="col-sm-3">
                <app-input [etiqueta]="'Monto'" [validacion]="'decimal'" [valor]="dato.monto" (emitidor)="dato.monto = $event;"></app-input>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-12 d-md-flex justify-content-md-end">
                <button class="btn btn-success" (click)="emitir()">Guardar</button>
                <button class="btn btn-danger" (click)="cerrar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>