<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-input [mayusculas]="true" [obligatorio]="true" [etiqueta]="'Nombre'" [valor]="datos.nombre" (emitidor)="datos.nombre = $event;"></app-input>
        </div>
        <div class="col-sm-4">
            <app-input [mayusculas]="true" [obligatorio]="true" [etiqueta]="'Apellido Paterno'" [valor]="datos.apellidoPaterno" (emitidor)="datos.apellidoPaterno = $event;"></app-input>
        </div>
        <div class="col-sm-4">
            <app-input [mayusculas]="true" [obligatorio]="true" [etiqueta]="'Apellido Materno'" [valor]="datos.apellidoMaterno" (emitidor)="datos.apellidoMaterno = $event;"></app-input>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-input [obligatorio]="true" [etiqueta]="'Celular'" [valor]="datos.celular" [validacion]="'numero'" [cantidad]="10" (emitidor)="datos.celular = $event;"></app-input>
        </div>
        <div class="col-sm-4">
            <app-input [etiqueta]="'Telefono'" [valor]="datos.telefono" [validacion]="'numero'" [cantidad]="10" (emitidor)="datos.telefono = $event;"></app-input>
        </div>
        <div class="col-sm-4">
            <app-input [mayusculas]="true" [etiqueta]="'Correo Electronico'" [valor]="datos.correo" (emitidor)="datos.correo = $event;"></app-input>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-select [obligatorio]="true" [etiqueta]="'Sexo'" [datos]="listas.sexos" [dato]="datos.idSexo" (emitidor)="datos.idSexo = $event"></app-select>
        </div>
        <div class="col-sm-4">
            <app-input [obligatorio]="true" [etiqueta]="'Fecha de Nacimiento'" [tipo]="'date'" [valor]="datos.fechaNacimiento" (emitidor)="datos.fechaNacimiento = $event;"></app-input>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-end">
            <button class=" btn btn-success " (click)="emitir(); ">Siguiente</button>
        </div>
    </div>
</div>