<div class="container">
    <div class="col-row">
        <div class="col-sm-12">
            <app-titulo [titulo]="'Escuela de aspiracion'"></app-titulo>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-input [obligatorio]="true" [validacion]="'numero'" [etiqueta]="'Numero de intentos'" [valor]="datos.intentos" (emitidor)="datos.intentos = $event;"></app-input>
        </div>
        <div class="col-sm-3">
            <app-select [obligatorio]="true" [etiqueta]="'Universidad'" [datos]="listas.universidades" [dato]="datos.idUniversidad" (emitidor)="datos.idUniversidad = $event; traerCentros(false);"></app-select>
        </div>
        <div class="col-sm-3">
            <app-select [obligatorio]="true" [etiqueta]="'Centro Universitario'" [datos]="centros" [dato]="datos.idCentroUniversitario" (emitidor)="datos.idCentroUniversitario = $event; traerCarreras(false);"></app-select>
        </div>
        <div class="col-sm-3">
            <app-select [obligatorio]="true" [etiqueta]="'Carrera'" [datos]="carreras" [dato]="datos.idCarrera" (emitidor)="datos.idCarrera = $event;"></app-select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-start">
            <button class="btn btn-success" (click)="emitirAnterior();">Anterior</button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-success" (click)="emitirSiguiente();">Siguiente</button>
        </div>
    </div>
</div>