<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Credito</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <app-select [etiqueta]="'Formas de pago'" [datos]="listas.formaspagos" [dato]="abono.idFormaPago" (emitidor)="abono.idFormaPago = $event;"></app-select>
                </div>
                <div class="col-sm-4">
                    <app-select etiqueta="'Tipo de abono'" [datos]="tipos" [dato]="abono.tipo" (emitidor)="abono.tipo = $event;"></app-select>
                </div>
                <div class="col-sm-4" *ngIf="abono.idFormaPago > 1">
                    <app-select [etiqueta]="'Cuentas'" [datos]="listas.cuentas" [dato]="abono.idCuenta" (emitidor)="abono.idCuenta = $event;"></app-select>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <app-input [etiqueta]="'Monto'" [valor]="abono.monto" [validacion]="'decimal'" (emitidor)="abono.monto = $event;"></app-input>
                </div>
                <div class="col-sm-3">
                    <br>
                    <button class="btn btn-success" (click)="agregarAbono()">Agregar abono</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="abonos"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>