<div class="min-height-300 bg-primary position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <app-menu [menus]="menus"></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <app-usuario-sucursales [sucursales]="sucursales" [id]="sucursal"></app-usuario-sucursales>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center d-none d-sm-block">
                    <div class="input-group">
                        <app-input [place]="' Buscar'" (emitidor)="search = $event;" (enter)="busqueda();"></app-input>
                    </div>
                </div>
                <div class="ms-md-auto pe-md-3 d-flex align-items-center d-block d-sm-none">
                    <button class="btn btn-info" (click)="abrirMenu()">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item dropdown pe-2 d-flex align-items-center">
                        <app-usuario></app-usuario>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4" (click)="cerrarMenu();">
        <router-outlet></router-outlet>
    </div>
</main>