<main class="main-content mt-0">
    <div class="page-header min-vh-100 bg-gray-100">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-lg-5 col-md-7">
                    <div class="card card-login border-0 shadow-lg mt-5">

                        <div class="card-header pb-0 text-center bg-transparent border-0">
                            <h4 class="font-weight-bolder text-dark mb-1">Bienvenido</h4>
                            <p class="text-sm text-muted mb-0">Ingresa tu usuario y contraseña para continuar</p>
                        </div>

                        <div class="card-body pt-4">
                            <form role="form" (keydown.enter)="getToken()">
                                <div class="mb-3">
                                    <app-input [etiqueta]="'Usuario'" (emitidor)="usuario = $event;"></app-input>
                                </div>
                                <div class="mb-4">
                                    <app-input [tipo]="'password'" [etiqueta]="'Contraseña'" (emitidor)="password = $event;"></app-input>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-lg bg-gradient-info w-100 mt-2 mb-2 text-white font-weight-bold btn-login" (click)="getToken();">
                    Iniciar Sesión
                  </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>