<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Balance de sucursal</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" *ngFor="let cuenta of cuentas">
                    <app-card [encabezado]="cuenta.nombre">
                        <div class="row">
                            <div class="col-sm-12"><b>Ingresos: ${{generales.milesNumeros(cuenta.totalIngresos)}}</b></div>
                            <div class="col-sm-12"><b>Egresos: ${{generales.milesNumeros(cuenta.totalEgresos)}}</b></div>
                            <div class="col-sm-12 {{(cuenta.positivo) ? 'text-success' : 'text-danger'}}"><b>Total: ${{generales.milesNumeros(cuenta.totalFinal)}}</b></div>
                        </div>
                    </app-card>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-12">
                    <app-card [color]="'lumiere'" [colorLetra]="'white'" [encabezado]="'Efectivo en Sucursal'" *ngIf="mostrarTotal">
                        <div class="row flex-nowrap overflow-auto">
                            <div class="col-sm-3">
                                <app-circulo [cantidad]="total" [forma]="'Total'"></app-circulo>
                            </div>
                            <div class="col-sm-3">
                                <app-circulo [cantidad]="administrativo" [forma]="'Vale Administrativo'"></app-circulo>
                            </div>
                            <div class="col-sm-6">
                                <div class="row" *ngIf="!existe">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Crear Vale Adnimistrativo</button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="existe">
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary" (click)="caja()">Pasar a caja</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary" (click)="vale();">Pasar a vale</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-card>
                </div>
            </div>
        </div>
    </div>
</div>