<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Recepcion de vales</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cargando *ngIf="cargando"></app-cargando>
<app-botones *ngIf="seleccion !== undefined">
    <app-select [datos]="recepciones" [dato]="0" (emitidor)="receptor = $event;" [etiqueta]="'Sucursal'"></app-select>
    <button class="btn btn-success" (click)="aceptar();" *ngIf="receptor > 0">Aceptar</button>
    <button class="btn btn-danger" (click)="rechazar()">Rechazar</button>
</app-botones>