<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Formas de pagos</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row" *ngIf="seleccion === undefined">
                <div class="col-sm-12">
                    <button class="btn btn-success" (click)="modal('nuevo')">Agregar Forma de pago</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<app-botones *ngIf="seleccion !== undefined" (emitidor)="seleccion = undefined">
    <button class="btn btn-success" (click)="modal('nuevo');">Agregar Forma de pago</button>
    <button class="btn btn-yellow" (click)="modal('modificar');">Modificar Forma de pago</button>
    <button class="btn btn-danger" *ngIf="!seleccion.activo" (click)="activar();">Activar Forma de pago</button>
    <button class="btn btn-success" *ngIf="seleccion.activo" (click)="desactivar();">Desactivar Forma de pago</button>
    <button class="btn btn-danger" (click)="eliminar();">Eliminar Forma de pago</button>
</app-botones>
<app-modal [ngSwitch]="vista">
    <app-modal-forma-pago *ngSwitchCase="'nuevo'" [modificar]="false" (emitidor)="nuevo($event);"></app-modal-forma-pago>
    <app-modal-forma-pago *ngSwitchCase="'modificar'" [modificar]="true" [dato]="seleccion" (emitidor)="modificar($event);"></app-modal-forma-pago>
</app-modal>