<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Subtemas de {{nombreTema}}</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row" *ngIf="seleccion === undefined">
                <div class="col-sm-12">
                    <button class="btn btn-success" (click)="modal('nuevo')">Agregar Subtema</button>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cargando *ngIf="cargando"></app-cargando>
<app-botones *ngIf="seleccion !== undefined">
    <button class="btn btn-success" (click)="modal('nuevo');">Agregar Subtema</button>
    <button class="btn btn-yellow" (click)="modal('modificar');">Modificar Subtema</button>
    <button class="btn btn-danger" *ngIf="!seleccion.activo" (click)="activar();">Activar Subtema</button>
    <button class="btn btn-success" *ngIf="seleccion.activo" (click)="desactivar();">Desactivar Subtema</button>
    <button class="btn btn-danger" (click)="eliminar();">Eliminar Subtema</button>
    <button class="btn btn-info" (click)="ir();">Ir</button>
</app-botones>
<app-modal [ngSwitch]="vista">
    <app-modal-subtema *ngSwitchCase="'nuevo'" [idTema]="idTema" [nombreTema]="nombreTema" [modificar]="false" (emitidor)="nuevo($event);"></app-modal-subtema>
    <app-modal-subtema *ngSwitchCase="'modificar'" [idTema]="idTema" [nombreTema]="nombreTema" [modificar]="true" [dato]="seleccion" (emitidor)="modificar($event);"></app-modal-subtema>
</app-modal>